@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.main_bg{
    
    width: 100vw;
    height: 610px;
   display: flex;
    background: rgb(217,223,221);
    background: linear-gradient(169deg, rgba(217,223,221,1) 1%, rgba(179,160,215,1) 48%, rgba(18,35,83,1) 93%); 
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.75);
    
   
}



 .image_area{
  width: 100%;
  position: relative;
  height: 600px;
  
   /* clip-path: polygon(36% 0, 100% 0%, 100% 99%, 0% 100%);  */
    
} 
.image_area img{
  width: 100%;
  height: 100%;
  
    
}
.btn_area{
    display: flex;
    gap: 0.5rem;
}
.bgimg{
 position: absolute;
 top: 0;
 right: -100%;
 left: 0;
 bottom: 0;
 width: 100%;
 height: 100%;
 opacity: 0;
 transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.bgimg.active {
  opacity: 1;
  transform: translateX(0) translateY(0);
}


.bgimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to left, rgb(10, 5, 41) 0%,rgba(2, 4, 32, 0.8) 50%,rgba(2, 3, 51, 0) 100%);
  color: #fff;
  padding: 10px;
  transition: transform 1s ease-in-out;
 
  
}

.bgimg.active .project_name {
  transform: translate(-50%, -50%);
  left: 80%;
  width: 450px;
}




/*MEDIA*/

@media screen and (max-width: 768px) {
    .main_bg {
      height: 600px;
      flex-direction: column;
      position: relative;
      top: 15rem;
    }
    
    .text_area {
      padding: 2rem;
      justify-content: flex-start;
    }
    
    .hero_overview {
      padding-top: 2rem;
      text-align: center;
    }
    
    .image_area {
      clip-path: none;
      margin-left: 0;
      width: auto;
    }
    
    .image_area img {
      height: auto;
      max-width: 100%;
    }
    .bgimg{
      height: auto;
    }
  }
  