.contact{
    color: var(--blue);
    margin-top: 4rem;
    text-align: center;
    padding: 1rem;
}
.contact_area{
    
    display: grid;
    grid-gap: 12%;
    gap: 10%;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem auto;
    background-color: rgba(255, 255,255, 0.60);
    padding: 2rem;

}
.input_contacts form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: rgba(255, 255,255, 0.80);
    padding: 1rem;
}
.input_contacts input{
    width: 19rem;
    height: 2.5rem;
    border: 0.2rem solid var(--blue);
    border-radius: 2rem;
    padding-inline: 1rem;

}
.input_contacts textarea{
    border: 0.2rem solid var(--blue);
    padding-inline: 1rem;
}
.contact_icon{
    background-color: var(--blue);
    color: #fff;
    padding: 1.5rem;
    border-radius: 2rem;
    
    
}
.social{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    top: 5rem;
}
.address{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: rgba(255, 255,255, 0.80);
    text-align: center;
    padding: 0.5rem;
}
.dnd_icon{
    font-size: 1.5rem;
    text-decoration: none;
}
.dnd_icon a {
    text-decoration: none;
}
.contact_icon:hover{
background-color: var(--blue_variant);
}

.download_area{
    position: relative;
    top: 6rem;
    width: 60%;
    background-color: #ffffffcb;
    align-items: center;
    margin: auto;
    text-align: center;
}
.dnd_form{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
    margin: 0 4.5rem;
    padding: 1rem;
   
    
}
.dnd_form input{
    width: 18rem;
    height: 2rem;
    margin: 1rem;
    padding-inline: 1rem;
    border: transparent;
    border-bottom: 2px solid var(--blue);
    background-color: transparent;
    
}
.dnd_form select{
    width: 19rem;
    height: 2rem;
    margin: 1rem;
    border: transparent;
    border-bottom: 2px solid var(--blue);
}
.close-popup{
    position: relative;
    left: 6rem;
    font-size: 2rem;
}

@media screen and (max-width: 768px){
    .contact {
        position: relative;
        top: 25rem;
    }
    .contact_area {
        grid-template-columns: 1fr;
    }
}